<template>
  <div>
    <v-row align-content="start">
      <product-card
        v-for="product in products"
        :key="product.id"
        :product-to-display="product"
      />
    </v-row>
  </div>
</template>

<script>

import axios from 'axios';
import ProductCard from '@/components/ProductCard.vue';

export default {
  name: 'Home',
  components: {
    ProductCard
  },
  data() {
    return {
      products: [],
    };
  },
  methods: {
    async fetchProducts() {
      // this.products = (await axios.get("/api/products")).data
      const response = await axios.get("/api/products")
      this.products = response.data
    },
  },
  mounted() {
    if(!this.$store.getters.isConnected){
      this.$router.push({name: "connection"})
    }
    this.fetchProducts()
  }
}
</script>

<style>

</style>
