<template>
  <v-col>
    <v-card
      class="mx-auto"
      max-width="344"
    >
      <v-img
        :src="imageSource"
        height="200px"
      ></v-img>

      <v-card-title>
        {{ productToDisplay.name }}
      </v-card-title>

      <v-card-subtitle>
        {{ productToDisplay.price }} €
      </v-card-subtitle>

      <v-card-actions>
        <router-link
          :to="{name: 'product', params:{id: productToDisplay.id}}">
          <v-btn text>Voir</v-btn>
        </router-link>
      </v-card-actions>


    </v-card>
  </v-col>
</template>

<script>
export default {
  name: 'ProductCard',
  props: {
    productToDisplay: {
      type: Object,
      default: {  },
    },
  },
  computed: {
    imageSource() {
      return process.env.VUE_APP_API_URL+"/uploads/"+this.productToDisplay.imageSrc;
    },
  },
};
</script>

<style scoped>

</style>
